body {
    font-family: "Roboto Mono", monospace;
    background-image: linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
    background-attachment: fixed;
  }

.container {
    text-align: center;
    padding: 20px;
    height: 100vh;
}
.page-title {
    position: relative;
    color:#ffffff;
    margin: 0 0 5px;
}

.page-subtitle {
    color:#ffffff;
    margin-top: 25px;
}
.page-logo {
    width: 200px;
}
.notas{
    color:#ffffff;
    margin-top: 30px;
}